// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.navbackground, {
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 255, 147, 1) 55%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 255, 147, 1) 55%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 255, 147, 1) 55%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31FF93', endColorstr='#4CAF50', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 255, 147, 1) 55%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 255, 147, 1) 55%);
}

body {
    background: rgb(174,238,219);
    background: radial-gradient(circle, rgba(174,238,219,1) 0%, rgba(255,255,255,1) 100%);
}

.contbg {
    background: rgb(174,238,219);
    background: radial-gradient(circle, rgba(174,238,219,1) 0%, rgba(255,255,255,1) 100%);
}

.bodyadmin {
    background: white;
 }
